*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(66, 66, 66);
    height: 5vh;
    
}
ul {
    font-size: 2em;
    text-align: right;
    
}

li {
    display : inline-flex; 
    list-style: none;
    
    
}

li a {
    color: #e0bfa9;
    
    text-decoration: none;
}

body {
    background-image : url("images/background-donut.png");
    background-size: cover;
    height: 100vh;
}

.sectionJeu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.zoneJeu{
    width: 90%;
    height: 80vh;
    background-color: rgb(173, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}